.outer{
    background: linear-gradient(#e66465, #9198e5);
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    height: 100vh;
    padding-bottom: 50px;
}
.inner{
    width: 50%;
    background-color: white;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}
.inner2{
    display: flex;
}
.cirleouter{
    /* width: 25%; */
    align-items: center;
    text-align: center;
    justify-content: center;
}
.circleinner{
    /* width: 25%; */
    /* height: 100px; */
    padding-left: 310px;
    height: 150px;
    align-items: center;
}
.beanimg{
    width: 150px;
    height: 150px;
    border-radius: 100px;
    z-index: 99;
    border: 2px solid  black;
}
.bean-heading{
    color: #BE5FC1;
    font-size: 20px;
    padding-left: 330px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
    padding-top: 20px;
}
.follow{
    display: flex;
    align-items: center;
    padding-top: 40px;
}
.box{
    width: 25%;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    color: #9D9C9C;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.icons{
    display: flex;
    justify-content: center;
}
.innericons{
    display: flex;
    padding-top: 40px;
}
.innericons{
}
.imgicon{
    margin-left: 30px;
    border-radius: 10px;
    border: none;

    width: 30px;
    height: 30px;
}
.btns
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    background-color: white;
    padding-bottom: 40px;
    border-radius: 20px;
}
.innerbtn1{
    height: 40px;
    background-color: #C89CFE;
    color: white;
    border-radius: 30px;
    font-weight: 800;
    border: none;
    width: 150px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.innerbtn2{
    margin-left: 30px;
    height: 40px;
    background-color: #EB7D86;
    color: white;
    border: none;
    width: 150px;
    border-radius: 30px;
}